body {
    background-color: rgb(83, 81, 81);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(227, 223, 223);
    
}

i {
    filter: invert();
}

#pesquisa {
    background-color:  rgb(83, 81, 81);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.icone-pesquisa {
    font-size: 18px;
}

#titulo {
    color: rgb(255, 255, 255);
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 3px rgb(63, 62, 62);
}

#campo-pesquisa {
    display: flex;
    justify-content: center;
    position: relative;
}

#pop-pesquisa {
    display: none;
    pointer-events: none;
    transition: opacity 0.3 ease, transform 0.3s ease;

}

#pop-pesquisa.active {
    display:flex;
    opacity: 1;
    transform: translateY();
    pointer-events: auto;
}